In [2]:
import pandas as pd

In [3]:
## Read in the blood glucose data
bg_csv = 'CurtisIrvine_glucose_6-21-2022.csv'
bg = pd.read_csv(
    bg_csv,
    header = 1
)

/var/folders/sz/7ks1h0g97z9chgj678nf1rpc0000gp/T/ipykernel_3146/1997365321.py:3: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  bg = pd.read_csv(

In [4]:
## Find the number of NaNs
proportion_nan = list(pd.isnull(bg['Historic Glucose mmol/L'])).count(True) \
/list(pd.isnull(bg['Historic Glucose mmol/L'])).count(False)

proportion_nan

0.260335495414896

In [5]:
## Annoying amount but doable. Drop NaNs
bg = bg[bg['Historic Glucose mmol/L'].notna()]

In [8]:
## Keep on the relevant columns for learning
bg = bg[['Device Timestamp',
         'Historic Glucose mmol/L',
         'Scan Glucose mmol/L',
         'Notes'
]]

array(['Device', 'Serial Number', 'Device Timestamp', 'Record Type',
       'Historic Glucose mmol/L', 'Scan Glucose mmol/L',
       'Non-numeric Rapid-Acting Insulin', 'Rapid-Acting Insulin (units)',
       'Non-numeric Food', 'Carbohydrates (grams)',
       'Carbohydrates (servings)', 'Non-numeric Long-Acting Insulin',
       'Long-Acting Insulin (units)', 'Notes', 'Strip Glucose mmol/L',
       'Ketone mmol/L', 'Meal Insulin (units)',
       'Correction Insulin (units)', 'User Change Insulin (units)'],
      dtype=object)

In [17]:
## Rename the columns 
bg = bg.rename(columns = {
    "Device Timestamp": "timestamp",
    "Historic Glucose mmol/L": "glucose",
    "Scan Glucose mmol/L": "scan_glucose",
    "Notes": "notes"
}
         )

In [26]:
bg

                  timestamp  glucose  scan_glucose notes
0       03-05-2018 02:14 PM      7.6           NaN   NaN
1       03-05-2018 02:29 PM      9.3           NaN   NaN
2       03-05-2018 02:44 PM     10.5           NaN   NaN
3       03-05-2018 02:59 PM     10.7           NaN   NaN
4       03-05-2018 03:13 PM     10.6           NaN   NaN
...                     ...      ...           ...   ...
111770  06-21-2022 04:37 PM      7.3           NaN   NaN
111771  06-21-2022 04:52 PM      7.3           NaN   NaN
111772  06-21-2022 05:07 PM      7.6           NaN   NaN
111773  06-21-2022 05:22 PM      8.0           NaN   NaN
111774  06-21-2022 05:37 PM      7.9           NaN   NaN

[111775 rows x 4 columns]

In [33]:
## Time wrangling 
bg['timestamp'] = pd.to_datetime(bg['timestamp'])

## Split into day and time 
bg['day'] = [d.date() for d in bg['timestamp']]
bg['time'] = [d.time() for d in bg['timestamp']]